services:
  user-service:
    container_name: user-service
    image: user-service:hive
    build:
      context: .
      dockerfile: services/user-service/dockerfile
      target: development
    ports:
      - '3001:3000'
      - '9228:9228'
    environment:
      - NODE_ENV=development
      - DATABASE_PATH=/workspace/services/user-service/data/users.db
      - DATABASE_DIR=/workspace/services/user-service/data
    volumes:
      - ./services/user-service:/workspace/services/user-service
      - user_node_modules:/workspace/services/user-service/node_modules
      - ./packages/contracts:/workspace/packages/contracts
volumes:
  user_node_modules:
