x-service-base: &service-base
  environment:
    - NODE_ENV=development
  restart: 'unless-stopped'
  depends_on:
    - deps-service
  env_file:
    - .env
  volumes:
    - .:/workspace
    - shared_node_modules:/workspace/node_modules

x-service-build: &service-build
  context: .
  dockerfile: Dockerfile-dev
  target: service

name: transcendence-dev
services:
  user-service:
    container_name: user-service
    image: user-service:hive
    ports:
      - '3001:3001'
      - '9227:9227'
    build:
      <<: *service-build
      args:
        SERVICE_NAME: user-service
        SERVICE_PORT: 3001
        DEBUG_PORT: 9227
    <<: *service-base

  auth-service:
    container_name: auth-service
    image: auth-service:hive
    ports:
      - '3002:3002'
      - '9228:9228'
    build:
      <<: *service-build
      args:
        SERVICE_NAME: auth-service
        SERVICE_PORT: 3002
        DEBUG_PORT: 9228
    <<: *service-base

  score-service:
    container_name: score-service
    image: score-service:hive
    ports:
      - '3003:3003'
      - '9229:9229'
    build:
      <<: *service-build
      args:
        SERVICE_NAME: score-service
        SERVICE_PORT: 3003
        DEBUG_PORT: 9229
    <<: *service-base

  web:
    container_name: web
    image: web:hive
    ports:
      - '5173:5173'
    build:
      context: .
      dockerfile: Dockerfile-dev
      target: web
    <<: *service-base

  package-service:
    container_name: package-service
    image: package-service:hive
    build:
      <<: *service-build
      args:
        SERVICE_NAME: package-service
    <<: *service-base

  caddy:
    image: caddy:2
    container_name: caddy
    depends_on:
      - user-service
      - auth-service
      - score-service
      - web
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
      - '8443:8443'
    volumes:
      - ./infra/caddy/Caddyfile.docker:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

  deps-service:
    container_name: deps-service
    image: deps-service:hive
    build:
      context: .
      dockerfile: Dockerfile-deps
    environment:
      - NODE_ENV=development
    restart: 'no'
    volumes:
      - .:/workspace:ro
      - shared_node_modules:/workspace/node_modules

volumes:
  shared_node_modules:
  caddy_data:
  caddy_config:
