services:
  dev:
    container_name: transcenders-dev
    image: transcenders-dev:hive
    build:
      context: .
      target: development
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"
      - "9229:9229"
    environment:
      - NODE_ENV=development
volumes:
  node_modules:
