@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    button {
        @apply text-white hover:text-[#786647];
    }

	div {
        @apply text-white;
	}

    html, body, #root {
        @apply h-screen overflow-hidden;
    }
    
    html {
        @apply bg-[#e7cfbf];
    }

    h1 {
        @apply text-white font-bold;
    }

	p {
        @apply text-white;
	}
}

@layer components {
        
    .box {
        @apply flex flex-col xl:flex-row h-full overflow-y-auto overflow-x-hidden custom-scrollbar
        rounded-sm border border-white shadow-[0_0_3px_3px_#fff] backdrop-blur-3xl;
	}

    .box-section {
        @apply backdrop-blur-sm w-full min-h-full flex-shrink-0
        xl:flex-1 xl:h-[1106px] xl:flex-shrink px-4 py-24 flex flex-col items-center;
    }

    .bubble {
        @apply rounded-full aspect-square border border-white;
    }

    .custom-scrollbar {
        scrollbar-width: auto;
        scrollbar-color: transparent transparent;
    }

    .custom-scrollbar:hover {
        scrollbar-color: rgba(255, 255, 255, 0.3) transparent; 
    }

    .link-color {
        @apply text-white hover:text-[#786647];
    }

	.login-bubble {
		@apply bubble bg-[#ffe6d5]/20 shadow-[0_0_3px_3px_#fff] min-w-[400px] sm:w-[500px] p-[4em] flex flex-col justify-center items-center text-center text-sm sm:text-base;
	}
    
    .login-input-field {
        @apply rounded-lg bg-white bg-opacity-20 p-[0.25em] text-white placeholder-white;
    }

	.fascinate-label {
		@apply block font-fascinate text-2xl uppercase mb-2;
	}

	.input-field {
		@apply w-full bg-transparent border-b-2 border-white focus:outline-none focus:border-white/70 text-white text-lg placeholder-white/60;
	}

	.rounded-button {
		@apply rounded-full border border-white hover:border-[#786647] link-color transition py-[0.75em] px-[1em] text-center;
	}
}
