@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply min-h-screen bg-gradient-to-t from-[#e6c8b5] via-[#ebccbd] to-[#e6c8b5];
    }
    
    main {
        @apply flex h-full w-full z-10 justify-center items-center flex-1 text-center text-lg;
    }

	div {
		@apply text-white;
	}

	p {
		@apply text-white;
	}

    h1 {
        @apply text-white font-bold;
    }

    button {
        @apply text-white hover:text-[#6a5373c6];
    }

}

@layer components {

    .button-text {
        @apply text-white hover:text-[#6a5373c6];
    }

	.play-button {
		@apply rounded-full bg-white bg-opacity-10 border p-4 button-text mt-4;
	}

    .login-input-field {
        @apply rounded-lg bg-white bg-opacity-20 p-1 text-white placeholder-white mt-2;
    }

	.profile-box  {
		@apply flex basis-1/3 rounded-lg bg-[#6b3e2f52] border flex-col items-center justify-center gap-6
	}

    .bubble {
        @apply bg-white bg-opacity-10 rounded-full aspect-square border;
    }

    .bg-bubble {
        @apply rounded-full aspect-square shadow-xl bg-gradient-to-t z-0;
    }

    .bg-bubble-1 {
        @apply bg-bubble absolute z-0 w-6 shadow-[#734b58b1]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-2 {
        @apply bg-bubble absolute z-0 w-12 shadow-[#734b598b]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-3 {
        @apply bg-bubble absolute w-16 z-0 shadow-[#734b578a]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-4 {
        @apply bg-bubble absolute w-32 z-0 shadow-[#734b5986]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe128];
    }

	.bg-bubble-5 {
        @apply bg-bubble absolute w-36 z-0 shadow-[#734b5987]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe11e];
    }

	.bg-bubble-6 {
        @apply bg-bubble absolute w-52 z-0 shadow-[#734b5e88]
        bg-gradient-to-t from-[#933e56ad] via-[#ea8f719a] to-[#fcefe130];
    }

	.bg-bubble-7 {
        @apply bg-bubble absolute w-80 z-0 shadow-[#734b5282]
        bg-gradient-to-t from-[#96425ab2] via-[#ea8f719a] to-[#fcefe12b];
    }

	.bg-bubble-8 {
        @apply bg-bubble absolute w-96 z-0 shadow-[#734b5083]
        bg-gradient-to-t from-[#933e56a8] via-[#ea8f719a] to-[#fcefe11b];
    }
    
    .profile-box {
        @apply basis-1/3 rounded-lg bg-[#966d54] bg-opacity-40 border items-center flex flex-col justify-center gap-10;
    }
	/* .bg-bubble-1 {
        @apply bg-bubble absolute -bottom-1/4 -right-3/4 w-6 shadow-[#734b58b1]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-2 {
        @apply bg-bubble absolute -top-2/4 -left-1/4 w-12 shadow-[#734b598b]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-3 {
        @apply bg-bubble absolute -right-full w-16 shadow-[#734b578a]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe142];
    }

	.bg-bubble-4 {
        @apply bg-bubble absolute -right-2/3 w-32 shadow-[#734b5986]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe128];
    }

	.bg-bubble-5 {
        @apply bg-bubble absolute -top-1/4 -left-2/3 w-36 shadow-[#734b5987]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe11e];
    }

	.bg-bubble-6 {
        @apply bg-bubble absolute -bottom-3/4 -right-4 w-52 shadow-[#734b5e79]
        bg-gradient-to-t from-[#933e56a3] via-[#ea8f719a] to-[#fcefe130];
    }

	.bg-bubble-7 {
        @apply bg-bubble absolute -bottom-1/4 -left-2/3 w-80 shadow-[#734b5293]
        bg-gradient-to-t from-[#933e56b2] via-[#ea8f719a] to-[#fcefe12b];
    }

	.bg-bubble-8 {
        @apply bg-bubble absolute -top-2/3 -right-1/4 w-96 shadow-[#734b5083]
        bg-gradient-to-t from-[#933e56a8] via-[#ea8f719a] to-[#fcefe11b];
    } */
}
